sudo: required
language: go
services:
  - docker
go:
  - 1.8.x
before_install:
  - curl -L https://releases.hashicorp.com/terraform/0.9.11/terraform_0.9.11_linux_amd64.zip > terraform.zip && unzip terraform.zip -d terraform && export PATH=$PATH:$PWD/terraform && echo $(terraform --version)
  - DOCKER_COMPOSE_VERSION="1.7.1"
  - echo "Installing docker and docker compose"
  - sudo apt-get update -y && sudo apt-get -o Dpkg::Options::="--force-confnew" install -y docker-ce jq curl
  - sudo rm /usr/local/bin/docker-compose && curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose && sudo mv docker-compose /usr/local/bin && export PATH=$PATH:$HOME/.local/bin
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
install:
  - echo $GOPATH
  - go get github.com/dghubble/sling
  - go get github.com/hashicorp/terraform/helper/schema
  - go get github.com/hashicorp/terraform/terraform
  - go get github.com/hashicorp/terraform/plugin
  - go get net/rpc
  - echo $(pwd)
script:
  - docker-compose up -d
  - sleep 1m
  - ./start.sh init apply
  - ./start.sh tests apply
#deploy:
#  - provider: releases
#    skip_cleanup: true
#    file:
#    on:
#      branch: develop
#  - provider: releases
#    skip_cleanup: true
#    file:
#    on:
#      branch: master